.project-tile {
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(136,103,207,1) 20%, rgba(130,102,208,1) 43%, rgba(124,101,209,1) 56%, rgba(89,100,211,1) 73%, rgba(76,164,163,1) 98%) 1;
    padding: 1.25rem;
    align-items: center;
    transition: transform .5s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;

    .project-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.75rem;
        width: 2rem;
        height: 2rem;

        .img-project{
            width: 100%;
        }
    }

    .project-desc {
        p {
            margin-top: .25rem;
        }
    }

    .project-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        
        a {
            text-decoration: none;
            color: var(--cyan);
            margin-bottom: 0.25rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &:hover {
        transform: translate3d(1%, 1%, 0) scale(1, 1); 
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}



.links-container {
    svg {
        width: 1.5rem;
        fill: var(--text-color);
        margin-right: .5rem;
    } 

    margin-top: 1rem;    
    list-style-type: none;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    
    .social__link {
        display: flex;
        align-items: center;
        margin-bottom: 0.55rem;

        span {
            opacity: 75%;
            margin-right: .5rem;
        }

        a {
            position: relative;
            overflow: hidden;
            display: inline-block;
            margin-left: -.25rem;
            text-decoration: none;
            color: var(--cyan);

            &::before {
                position: absolute;
                content: attr(data-content);
                top: 0;
                left: 0;
                color: var(--violet);
                overflow: hidden;
                transition: width 275ms ease;
                width: 0;
                white-space: nowrap;
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width:720px){
    .project-tile {
        flex-direction: column;
        padding: 1.25rem;
        align-items: flex-start;
        justify-content: space-between;

        .project-links {
            width: 100%;
            margin-top: 1rem;
            flex-direction: row;
            justify-content: space-between;
        }

        .project-icon{
            display: none;
        }
    
    }
}